In [2]:
import psycopg2
import pandas as pd

In [3]:
def create_database():
    # connect to a default database
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=divya")
    conn.set_session(autocommit=True)
    cur = conn.cursor()

    # create database
    cur.execute("DROP DATABASE IF EXISTS orders")
    cur.execute("CREATE DATABASE orders")

    # close connection to default database
    conn.close()

    #connect to new database
    conn = psycopg2.connect("host=127.0.0.1 dbname=orders user=postgres password=divya")
    cur = conn.cursor()
    
    return cur, conn

In [4]:
cur, conn = create_database()

<b>ORDERS</b>

In [5]:
orders_create = ("""CREATE TABLE IF NOT EXISTS ORDERS (
order_id numeric,
order_customer_id numeric,
order_date varchar,
order_status varchar)""")

cur.execute(orders_create)
conn.commit()
print("Table Created")

Table Created

In [6]:
orders = pd.read_csv(r"C:\Users\gupta\Downloads\project\orders.csv")
orders = orders[['order_id','order_customer_id','order_date','order_status']]
orders.head()

   order_id  order_customer_id             order_date     order_status
0         1            11599.0  2013-07-25 00:00:00.0           CLOSED
1         2              256.0  2013-07-25 00:00:00.0  PENDING_PAYMENT
2         3            12111.0  2013-07-25 00:00:00.0         COMPLETE
3         4             8827.0  2013-07-25 00:00:00.0           CLOSED
4         5            11318.0  2013-07-25 00:00:00.0         COMPLETE

In [7]:
try:
    orders_insert_data = """INSERT INTO ORDERS(
    order_id,
    order_customer_id,
    order_date,
    order_status)
    VALUES (%s, %s, %s, %s)"""
    
    for i, row in orders.iterrows():
        cur.execute(orders_insert_data, list(row))
    
    print("Rows inserted.")
except psycopg2.Error as e:
    print(e)

Rows inserted.

<b>CUSTOMERS</b>

In [8]:
try:
    customers_create = ("""CREATE TABLE IF NOT EXISTS CUSTOMERS (
    customer_id numeric,
    customer_fname varchar,
    customer_lname varchar,
    customer_state varchar)""")

    cur.execute(customers_create)
    conn.commit()
    print("Table Created")
    
    
except psycopg2.Error as e:
    print(e)

Table Created

In [9]:
customers = pd.read_csv(r"C:\Users\gupta\Downloads\project\customers.csv")
customers = customers[['customer_id', 'customer_fname', 'customer_lname', 'customer_state']]
customers.head()

   customer_id customer_fname customer_lname customer_state
0            1        Richard      Hernandez             TX
1            2           Mary        Barrett             CO
2            3            Ann          Smith             PR
3            4           Mary          Jones             CA
4            5         Robert         Hudson             PR

In [10]:
# iterrows() function return index & row
try:
    customers_insert_data = """INSERT INTO customers(
    customer_id,
    customer_fname,
    customer_lname,
    customer_state)
    VALUES (%s, %s, %s, %s)"""
    
    for i, row in customers.iterrows():
        cur.execute(customers_insert_data, list(row))
    
    print("Rows inserted.")

except psycopg2.Error as e:
    print(e)

Rows inserted.

<b>ORDER_DATA</b>

In [11]:
try:
    orders_data_create = ("""CREATE TABLE IF NOT EXISTS Order_data (
    customerid numeric,
    InvoiceNo varchar,
    Country varchar)""")

    cur.execute(orders_data_create)
    conn.commit()
    print("Table Created")
    
except psycopg2.Error as e:
    print(e)

Table Created

In [12]:
order_data = pd.read_csv(r"C:\Users\gupta\Downloads\project\order_data.csv")
order_data = order_data[['CustomerID','InvoiceNo','Country']]
order_data.head()

   CustomerID InvoiceNo         Country
0     14688.0    536378  United Kingdom
1     14688.0    536378  United Kingdom
2     14688.0    536378  United Kingdom
3     14688.0    536378  United Kingdom
4     14688.0    536378  United Kingdom

In [13]:
try:
    order_data_insert_data = """INSERT INTO Order_data(
    customerid,
    InvoiceNo,
    Country)
    VALUES (%s, %s, %s)"""
    
    for i, row in order_data.iterrows():
        cur.execute(order_data_insert_data, list(row))
    conn.commit()
    print("Rows inserted.")
except psycopg2.Error as e:
    print(e)

Rows inserted.